@import "global/vars";
@import "settings/settings";


@import "helpers/helpers";
@import "addons/addons";

%alert {
  color: var(--alert-color, red);
}

%button {
  color: red;
}

%flex {
  display: flex;
}

%block {
  display: block;
}

// Module Component
//
// Use this silent class for to set abstract background, padding, and margin properties.
//
// Markup:
// <div class="module">
//   <h1>My Module</h1>
// </div>
//
//
// Styleguide Components.Buttons.bold
.btn.btn-bold {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

%module {
  background: var(--module-background, var(--background, transparent));
  padding: var(--module-padding, var(--padding, 1rem));
  margin: var(--module-margin, 1rem auto);

  //margin-top: var(--module-margin-top, 1rem);
  //margin-right: var(--module-margin-right, 1rem);
  //margin-bottom: var(--module-margin-bottom, 1rem);
  //margin-left: var(--module-margin-left, 1rem);


  border: var(--module-border, 1px solid rgb(220, 220, 220));
  border-color: var(--module-border-color, var(--border-color, currentColor));
  border-radius: var(--module-border-radius, .5rem);

  color: var(--module-color, var(--color, inherit));
  > h1, h2, h3, h4, h5, h6, p {
    &:first-child {
      margin-top: var(--first-child-margin-top, 0);
    }
  }
}
