@import "global/vars";
@import "settings/settings";


@import "helpers/helpers";
@import "addons/addons";

%alert {
  color: var(--alert-color, var(--dangerous-color, red));
}

%button {
  background: var(--button-background, var(--background));
  border: var(--button-border, var(--border));
  border-color: var(--button-border-color, var(--border-color));
  color: var(--button-color, var(--color));
  text-decoration: var(--button-text-decoration, var(--text-decoration));
  display: var(--button-display);
  padding: var(--button-padding, var(--padding));

  &.smooth {
    transition: var(--transition, all 420ms ease);
  }
}

%flex {
  display: flex;
}

%block {
  display: block;
}


.btn.btn-bold {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

// Module Component
//
// Use this silent class to set color, background, padding, margin, and border properties.
//
// <pre>
// @include "spec/tacular";
//
// .module {
//   @extend %module;
// }</pre>
//
// Markup: ../../kss/module.html
//
// Style guide: Components.module
%module {
  background: var(--module-background, var(--background, transparent));
  padding: var(--module-padding, var(--padding, 1rem));
  margin: var(--module-margin, var(--margin, 1rem auto));

  //margin-top: var(--module-margin-top, 1rem);
  //margin-right: var(--module-margin-right, 1rem);
  //margin-bottom: var(--module-margin-bottom, 1rem);
  //margin-left: var(--module-margin-left, 1rem);


  border: var(--module-border, var(--border, 1px solid rgb(220, 220, 220)));
  //border-color: var(--module-border-color, var(--border-color, currentColor));
  border-radius: var(--module-border-radius, var(--border-radius, .5rem));

  color: var(--module-color, var(--color, inherit));
  > h1, h2, h3, h4, h5, h6, p {
    &:first-child {
      margin-top: var(--first-child-margin-top, 0);
    }
  }

  > * {
    &:first-child {
      margin: var(--module-first-child-margin, var(--first-child-margin, auto));
    }
    &:last-child {
      margin: var(--module-last-child-margin, var(--last-child-margin, auto));
    }
  }

}
