.spectacular.layout.cover, .spectacular .layout.cover, .spectacularly.layout.cover, .spectacularly .layout.cover, aside[role="search"] form > div input, form[action*="signup"] input {
  width: var(--greedy, 100%);
}

.spectacular .typography .capitalized, .spectacular.typography .capitalized, .spectacularly .typography .capitalized, .spectacularly.typography .capitalized {
  text-transform: uppercase;
}

.spectacular.layout.very.greedy, .spectacular .layout.very.greedy, .spectacularly.layout.very.greedy, .spectacularly .layout.very.greedy {
  width: var(--very-greedy, 100%);
}

.clickable {
  cursor: pointer;
}

section[role="banner"], header[role="banner"] {
  text-align: center;
}

.inverted {
  filter: invert(100%);
}

.grayscale, .greyscale {
  filter: grayscale(100%);
}

.spectacular.layout img:not(.uncontained), .spectacular .layout img:not(.uncontained), .spectacularly.layout img:not(.uncontained), .spectacularly .layout img:not(.uncontained), .spectacular.layout.contained, .spectacular.layout .shrinkable, .spectacular .layout.contained, .spectacular .layout .shrinkable, .spectacularly.layout.contained, .spectacularly.layout .shrinkable, .spectacularly .layout.contained, .spectacularly .layout .shrinkable {
  max-width: var(--contained-max-width, 100%);
}

.spectacular.layout.vulnerable, .spectacular .layout.vulnerable, .spectacularly.layout.vulnerable, .spectacularly .layout.vulnerable {
  margin: var(--vulerable-margin, 0);
}

.spectacular.layout.flexible.unbiased > *, .spectacular .layout.flexible.unbiased > *, .spectacularly.layout.flexible.unbiased > *, .spectacularly .layout.flexible.unbiased > * {
  flex: var(--flexibly-equal-children, 1 0 auto);
}

.spectacular.layout.grid, .spectacular .layout.grid, .spectacularly.layout.grid, .spectacularly .layout.grid {
  display: grid;
}

/*
http://www.phase2technology.com/blog/exploring-maps-in-sass-3-3/
*/
.dropzone {
  background: var(--dropzone-bg, #e6e6e6);
  min-height: var(--dropzone-min-height, 6em);
  border-radius: var(--dropzone-border-radius, 1.4em);
  border: var(--dropzone-border-color, 0.2em dashed var(--border-color, #c7c7c7));
}

[hidden="visually"], .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover [hidden="visually"] a, body:hover .visually-hidden a, body:hover [hidden="visually"] input, body:hover .visually-hidden input, body:hover [hidden="visually"] button, body:hover .visually-hidden button {
  display: none !important;
}

.spectacular.layout.clearfix .lt-ie8, .spectacular .layout.clearfix .lt-ie8, .spectacularly.layout.clearfix .lt-ie8, .spectacularly .layout.clearfix .lt-ie8 {
  *zoom: 1;
}
.spectacular.layout.clearfix:before, .spectacular .layout.clearfix:before, .spectacularly.layout.clearfix:before, .spectacularly .layout.clearfix:before, .spectacular.layout.clearfix:after, .spectacular .layout.clearfix:after, .spectacularly.layout.clearfix:after, .spectacularly .layout.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.spectacular.layout.clearfix:after, .spectacular .layout.clearfix:after, .spectacularly.layout.clearfix:after, .spectacularly .layout.clearfix:after {
  clear: both;
}

[role="alert"] {
  color: var(--alert-color, var(--dangerous-color, red));
}

[role="button"] {
  background: var(--button-background, var(--background));
  border: var(--button-border, var(--border));
  border-color: var(--button-border-color, var(--border-color));
  color: var(--button-color, var(--color));
  text-decoration: var(--button-text-decoration, var(--text-decoration));
  display: var(--button-display);
  padding: var(--button-padding, var(--padding));
}
.smooth[role="button"] {
  transition: var(--transition, all 420ms ease);
}

.spectacular.layout.flexible, .spectacular .layout.flexible, .spectacularly.layout.flexible, .spectacularly .layout.flexible {
  display: flex;
}

label {
  display: block;
}

.btn.btn-bold {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.module, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy), footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy), header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) {
  background: var(--module-background, var(--background, transparent));
  padding: var(--module-padding, var(--padding, 1rem));
  margin: var(--module-margin, var(--margin, 1rem auto));
  border: var(--module-border, var(--border, 1px solid gainsboro));
  border-radius: var(--module-border-radius, var(--border-radius, 0.5rem));
  color: var(--module-color, var(--color, inherit));
}
.module > h1:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > h1:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > h1:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > h1:first-child, .module h2:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h2:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h2:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h2:first-child, .module h3:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h3:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h3:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h3:first-child, .module h4:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h4:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h4:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h4:first-child, .module h5:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h5:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h5:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h5:first-child, .module h6:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h6:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h6:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) h6:first-child, .module p:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) p:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) p:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) p:first-child {
  margin-top: var(--first-child-margin-top, 0);
}
.module > *:first-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > *:first-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > *:first-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > *:first-child {
  margin: var(--module-first-child-margin, var(--first-child-margin, auto));
}
.module > *:last-child, section:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > *:last-child, footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > *:last-child, header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) > *:last-child {
  margin: var(--module-last-child-margin, var(--last-child-margin, auto));
}

a[role="presentation"] {
  color: var(--anchor-presentation-color, currentColor);
  text-decoration: var(--anchor-presentation-text-decoration, none);
}
a[role="presentation"]:hover {
  color: var(--anchor-presentation-hover-color, currentColor);
  text-decoration: var(--anchor-presentation-hover-text-decoration, none);
}

[role="contentinfo"] {
  background: var(--contentinfo-background, var(--darkmodule-background, var(--background, black)));
  color: var(--contentinfo-color, white);
  padding: var(--contentinfo-padding, var(--module-padding, 1em));
}
[role="contentinfo"] a {
  color: var(--contentinfo-link-color, var(--link-color, currentColor));
  text-decoration: var(--contentinfo-text-decoration, var(--text-decoration, none));
}
[role="contentinfo"] a:hover {
  color: var(--contentinfo-link-color, var(--link-color, currentColor));
  text-decoration: var(--contentinfo-hover-text-decoration, var(--hover-text-decoration, underline));
}
[role="contentinfo"] a:focus {
  color: var(--contentinfo-link-color, var(--link-color, currentColor));
  text-decoration: var(--contentinfo-focus-text-decoration, var(--focus-text-decoration, underline));
}

[role="dialog"] {
  padding: var(--dialog-padding, var(--module-padding, 1em));
  background: var(--dialog-background, gainsboro);
  color: var(--dialog-color, #5a5a5a);
  border: var(--dialog-border, 1px solid #5a5a5a);
  border-radius: var(--dialog-border-radius, 0.5em);
  text-align: var(--dialog-text-align, left);
}

[role="heading"] {
  font-family: var(--heading-font-family, inherit);
  font-weight: var(--heading-font-weight, bold);
}

h1 {
  font-family: var(--h1-font-family, var(--heading-font-family, inherit));
  font-weight: var(--h1-font-weight, var(--heading-font-weight, bold));
}

h2 {
  font-family: var(--h2-font-family, var(--heading-font-family, inherit));
  font-weight: var(--h2-font-weight, var(--heading-font-weight, bold));
}

h3 {
  font-family: var(--h3-font-family, var(--heading-font-family, inherit));
  font-weight: var(--h3-font-weight, var(--heading-font-weight, bold));
}

h4 {
  font-family: var(--h4-font-family, var(--heading-font-family, inherit));
  font-weight: var(--h4-font-weight, var(--heading-font-weight, bold));
}

h5 {
  font-family: var(--h5-font-family, var(--heading-font-family, inherit));
  font-weight: var(--h5-font-weight, var(--heading-font-weight, bold));
}

h6 {
  font-family: var(--h6-font-family, var(--heading-font-family, inherit));
  font-weight: var(--h6-font-weight, var(--heading-font-weight, bold));
}

[role="link"] {
  text-decoration: var(--link-text-decoration, underlined);
}

[role="list"] {
  list-style-type: var(--list-list-stype-type, disc);
}

[role="banner"] {
  margin: var(--banner-margin, var(--vulnerable-module-margin, var(--margin, 1rem)));
  /*
  margin-right: var(
    --banner-margin-right,
    var(--vulnerable-module-margin-right, auto)
  );
  margin-bottom: var(
    --banner-margin-bottom,
    var(--vulnerable-module-margin-bottom, 1rem)
  );
  margin-left: var(
    --banner-margin-left,
    var(--vulnerable-module-margin-left, auto)
  );
  */
}
[role="banner"]:first-child {
  margin-top: 0;
}

body {
  background: var(--body-background, inherit);
  font: var(--body-font, inherit);
  font-family: var(--body-font-family, inherit);
  color: var(--body-color, inherit);
}

hr {
  border: var(--hr-border, auto);
  border-top: var(--hr-border-top, auto);
  border-right: var(--hr-border-right, auto);
  border-bottom: var(--hr-border-bottom, auto);
  border-left: var(--hr-border-left, auto);
}

h1, h2, h3, h4, h6, h6 {
  color: var(--heading-color, initial);
  font-weight: var(--heading-font-weight);
}

h1 {
  color: var(--h1-color, inherit);
  font-weight: var(--h1-font-weight, bold);
  text-decoration: var(--h1-text-decoration, inherit);
}
h1:first-child {
  margin-top: var(--h1-margin-top, 0);
}

h2 {
  color: var(--h2-color, inherit);
  font-weight: var(--h2-font-weight, bold);
  text-decoration: var(--h2-text-decoration, inherit);
}
h2:first-child {
  margin-top: var(--h2-margin-top, 0);
}

h3 {
  color: var(--h3-color, inherit);
  font-weight: var(--h3-font-weight, bold);
  text-decoration: var(--h3-text-decoration, inherit);
}
h3:first-child {
  margin-top: var(--h3-margin-top, 0);
}

h4 {
  color: var(--h4-color, inherit);
  font-weight: var(--h4-font-weight, bold);
  text-decoration: var(--h4-text-decoration, inherit);
}
h4:first-child {
  margin-top: var(--h4-margin-top, 0);
}

h5 {
  color: var(--h5-color, inherit);
  font-weight: var(--h5-font-weight, bold);
  text-decoration: var(--h5-text-decoration, inherit);
}
h5:first-child {
  margin-top: var(--h5-margin-top, 0);
}

h6 {
  color: var(--h6-color, inherit);
  font-weight: var(--h6-font-weight, bold);
  text-decoration: var(--h6-text-decoration, inherit);
}
h6:first-child {
  margin-top: var(--h6-margin-top, 0);
}

div.foo .grid-area-a {
  grid-area: a;
}
div.foo .grid-area-b {
  grid-area: b;
}
div.foo .grid-area-c {
  grid-area: c;
}
div.foo .grid-area-d {
  grid-area: d;
}
div.foo .grid-area-e {
  grid-area: e;
}
div.foo .grid-area-f {
  grid-area: f;
}
div.foo .grid-area-g {
  grid-area: g;
}
div.foo .grid-area-h {
  grid-area: h;
}
div.foo .grid-area-i {
  grid-area: i;
}
div.foo .grid-area-j {
  grid-area: j;
}
div.foo .grid-area-k {
  grid-area: k;
}
div.foo .grid-area-l {
  grid-area: l;
}
div.foo .grid-area-m {
  grid-area: m;
}
div.foo .grid-area-n {
  grid-area: n;
}
div.foo .grid-area-o {
  grid-area: o;
}
div.foo .grid-area-p {
  grid-area: p;
}
div.foo .grid-area-q {
  grid-area: q;
}
div.foo .grid-area-r {
  grid-area: r;
}
div.foo .grid-area-s {
  grid-area: s;
}
div.foo .grid-area-t {
  grid-area: t;
}
div.foo .grid-area-u {
  grid-area: u;
}
div.foo .grid-area-v {
  grid-area: v;
}
div.foo .grid-area-w {
  grid-area: w;
}
div.foo .grid-area-x {
  grid-area: x;
}
div.foo .grid-area-y {
  grid-area: y;
}
div.foo .grid-area-z {
  grid-area: z;
}

* {
  box-sizing: var(--box-sizing, border-box);
}

.spectacular.layout.persistent, .spectacular .layout.persistent, .spectacularly.layout.persistent, .spectacularly .layout.persistent {
  position: sticky;
  top: 0;
}
.spectacular.layout .item.padded, .spectacular .layout .item.padded, .spectacularly.layout .item.padded, .spectacularly .layout .item.padded {
  padding: var(--flexible-item-padding, var(--item-padding, var(--padding, 1rem)));
}
.spectacular.layout.flexible.reversed, .spectacular .layout.flexible.reversed, .spectacularly.layout.flexible.reversed, .spectacularly .layout.flexible.reversed {
  flex-direction: row-reverse;
}
.spectacular.layout.flexible.vertical, .spectacular .layout.flexible.vertical, .spectacularly.layout.flexible.vertical, .spectacularly .layout.flexible.vertical {
  flex-direction: column;
}
.spectacular.layout.flexible.vertical.reversed, .spectacular .layout.flexible.vertical.reversed, .spectacularly.layout.flexible.vertical.reversed, .spectacularly .layout.flexible.vertical.reversed {
  flex-direction: column-reverse;
}
.spectacular.layout.flexible.unbiased > *, .spectacular .layout.flexible.unbiased > *, .spectacularly.layout.flexible.unbiased > *, .spectacularly .layout.flexible.unbiased > * {
  margin-right: var(--flexible-unbiased-item-margin-right, var(--item-margin-right, 1rem));
}
.spectacular.layout.flexible.unbiased > *:last-child, .spectacular .layout.flexible.unbiased > *:last-child, .spectacularly.layout.flexible.unbiased > *:last-child, .spectacularly .layout.flexible.unbiased > *:last-child {
  margin-right: var(--flexible-unbiased-last-item-margin-right, var(--last-item-margin-right, 0));
}
.spectacular.layout.cover, .spectacular .layout.cover, .spectacularly.layout.cover, .spectacularly .layout.cover {
  min-height: var(--cover-min-height, 100vh);
}
.spectacular.layout.center, .spectacular.layout.centered, .spectacular .layout.center, .spectacular .layout.centered, .spectacularly.layout.center, .spectacularly.layout.centered, .spectacularly .layout.center, .spectacularly .layout.centered {
  text-align: center;
}
.spectacular.layout.balanced, .spectacular .layout.balanced, .spectacularly.layout.balanced, .spectacularly .layout.balanced {
  margin-left: auto;
  margin-right: auto;
  --module-margin-left: auto;
  --module-margin-right: auto;
}
.spectacular.layout.thin, .spectacular .layout.thin, .spectacularly.layout.thin, .spectacularly .layout.thin {
  max-width: var(--layout-thin-max-width, var(--max-width, 18em));
}

.spectacular .typography .xx-small, .spectacular.typography .xx-small, .spectacularly .typography .xx-small, .spectacularly.typography .xx-small {
  font-size: xx-small;
}

.spectacular .typography .medium, .spectacular.typography .medium, .spectacularly .typography .medium, .spectacularly.typography .medium {
  font-size: medium;
}

.spectacular .typography .xx-small, .spectacular.typography .xx-small, .spectacularly .typography .xx-small, .spectacularly.typography .xx-small {
  font-size: xx-small;
}

.spectacular .typography .x-small, .spectacular.typography .x-small, .spectacularly .typography .x-small, .spectacularly.typography .x-small {
  font-size: x-small;
}

.spectacular .typography .small, .spectacular.typography .small, .spectacularly .typography .small, .spectacularly.typography .small {
  font-size: small;
}

.spectacular .typography .large, .spectacular.typography .large, .spectacularly .typography .large, .spectacularly.typography .large {
  font-size: large;
}

.spectacular .typography .x-large, .spectacular.typography .x-large, .spectacularly .typography .x-large, .spectacularly.typography .x-large {
  font-size: x-large;
}

.spectacular .typography .xx-large, .spectacular.typography .xx-large, .spectacularly .typography .xx-large, .spectacularly.typography .xx-large {
  font-size: xx-large;
}

.spectacular .typography .smaller, .spectacular.typography .smaller, .spectacularly .typography .smaller, .spectacularly.typography .smaller {
  font-size: smaller;
}

.spectacular .typography .larger, .spectacular.typography .larger, .spectacularly .typography .larger, .spectacularly.typography .larger {
  font-size: larger;
}

.spectacular .typography.legible, .spectacular.typography.legible, .spectacularly .typography.legible, .spectacularly.typography.legible {
  font-size: var(--legible-font-size, 120%);
}
.spectacular .typography.very.legible, .spectacular.typography.very.legible, .spectacularly .typography.very.legible, .spectacularly.typography.very.legible {
  font-size: var(--very-legible-font-size, 200%);
}
.spectacular .typography.extremely.legible, .spectacular.typography.extremely.legible, .spectacularly .typography.extremely.legible, .spectacularly.typography.extremely.legible {
  font-size: var(--extremely-legible-font-size, 400%);
}
.spectacular .typography.balanced, .spectacular.typography.balanced, .spectacularly .typography.balanced, .spectacularly.typography.balanced {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

[hidden="visually"] {
  display: inline;
}

*:target {
  color: var(--target-color, inherit);
  text-decoration: var(--target-text-decoration, inherit);
  border: var(--target-border, inherit);
  box-shadow: var(--target-box-shadow, inherit);
}

.operator-screensmart-medium-italic, .operator-screensmart-bold, body > section header em h1, body > section header em h2, body > section header em h3, body > section header em h4, body > section header em h5, body > section header em h6 {
  font-family: "Operator SSm A", "Operator SSm B";
}

.operator-screensmart-medium-italic {
  font-style: normal;
  font-weight: 500;
}

.operator-screensmart-medium-italic {
  font-style: italic;
}

.operator-screensmart-book, body {
  font-family: "Operator SSm A", "Operator SSm B";
  font-style: normal;
  font-weight: 400;
}

code, pre {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  font-style: normal;
  font-weight: 400;
}

.operator-screensmart-bold {
  font-style: normal;
  font-weight: 700;
}

.operator-screensmart-medium-italic {
  font-style: italic;
  font-weight: 500;
}

body > section header em h1, body > section header em h2, body > section header em h3, body > section header em h4, body > section header em h5, body > section header em h6 {
  font-style: normal;
  font-weight: 800;
}

body > section header em h1, body > section header em h2, body > section header em h3, body > section header em h4, body > section header em h5, body > section header em h6 {
  font-style: italic;
}

/*
body {
  @include high-contrast() {
    background: black;
  }
}
*/
section:not([role="banner"]):not([role="contentinfo"]):not(.greedy), footer:not([role="banner"]):not([role="contentinfo"]):not(.greedy), header:not([role="banner"]):not([role="contentinfo"]):not(.greedy) {
  --module-margin: 0 auto;
  --module-border: none;
}

#silent, #lightweight {
  background: #f2efbf;
  color: #48440f;
}

#install {
  background: #d9b9fa;
  color: #2c0652;
}

pre {
  text-align: left;
  margin: 0 auto;
}

footer[role="contentinfo"] {
  text-align: center;
  background: #adeae9;
  color: #025b84;
  --border-color: #7cdedc;
}
footer[role="contentinfo"] .flexible.balanced {
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
footer[role="contentinfo"] p {
  max-width: 64ch;
  margin-left: auto;
  margin-right: auto;
}

body > section {
  border-bottom: 1px solid var(--border-color, currentColor);
  text-align: center;
}
body > section div {
  max-width: 74ch;
}
body > section > div, body > section header > div, body > section details > div {
  margin-left: auto;
  margin-right: auto;
}
body > section > div pre, body > section header > div pre, body > section details > div pre {
  background: rgba(255, 255, 255, 0.36);
  border: 1px solid rgba(72, 68, 15, 0.24);
  border-radius: .5em;
  padding: 1em;
}

section header {
  max-width: 64ch;
  --module-margin: 0 auto;
}

body > nav {
  margin-top: 1rem;
}

input {
  font-size: 1em;
}

a {
  --target-color: orange;
}

aside[role="search"] {
  padding: var(--module-padding, 1rem);
  background: #080808;
  color: white;
  --heading-font-weight: normal;
  --heading-font: inherit;
}
aside[role="search"] h2 {
  margin-top: 0;
  margin-bottom: 0;
}
aside[role="search"] form > div {
  flex: 1 0 auto;
}
aside[role="search"] button[type="submit"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

body > header[role="banner"] {
  margin-bottom: 0;
}

section[role="banner"], header[role="banner"] {
  color: white;
  padding: 2rem 0;
}
section[role="banner"] h1, header[role="banner"] h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#cover {
  background: #adeae9;
  color: #025b84;
  --border-color: #7cdedc;
  --margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cover footer {
  margin-top: 1rem;
}
#cover iframe {
  min-width: 80px;
  min-height: 28px;
}
#cover p {
  font-size: larger;
}
#cover h1 span {
  text-shadow: 3px 3px 0px white;
}

#bootstraps {
  background: #cdf2d1;
  color: #15501b;
}

#themable {
  background: #e9c0ed;
  color: #682070;
}

#accessible {
  background: #cdd0f5;
  color: #1b2489;
}

nav[role="navigation"] a {
  padding-left: 1rem;
  padding-right: 1rem;
}

form[action*="signup"] label[for="email"] {
  margin-top: 1rem;
}
form[action*="signup"] button[type="submit"] {
  margin-top: 1rem;
}

button[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body > nav {
  text-align: center;
}

.button {
  font-size: larger;
  display: block;
  color: currentColor;
  border: 1px solid currentColor;
  border-bottom-width: .1875em;
  text-decoration: none;
  border-radius: .25em;
  padding: .25em;
}
.button:hover, .button:focus {
  background: #025b84;
  color: #cdf2f2;
  border-color: #013148;
}

section.greedy {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=spectacular-1.0.0.css.map */
